.java, .python, .c {
  display: none;
}

body {
  background: linear-gradient(to right, salmon, magenta);
}

.jumbotron {
  background: linear-gradient(to right, magenta, salmon);
  color: azure;
  text-shadow: black;
  text-align: center;
  border: solid black;
  margin-top: 20px;
}

#survey {
  color: azure;
}